#digivice-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#digivice {
    position: relative;
}

#digivice-image {
    display: block;
    width: 100%;
    height: auto;
}

#digimon-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52%);
    max-width: 28%;
    max-height: 28%;
    border-radius: 1rem;
    mix-blend-mode: multiply;
}

#digimon-selector {
    width: 80%;
    padding: 0.5rem;
    border: 4px solid var(--secondary-color);
    font-size: 1rem;
    text-align: center;
    background-color: var(--background-color);
    color: var(--text-color);
}